<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>

    <section name="Mocker" type="Persephone.Processing.Pipeline.PipelineConfigurationSection, RestNet Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <Mocker>
    <filters>
      <add type="RestNet.Mocker, RestNet Core"/>
    </filters>
  </Mocker>

  <appSettings>
    <add key="Mocker" value="GET:*|POST:*|PUT:*|HEAD:*|DELETE:*|OPTIONS:*|TRACE:*|CONNECT:*"/>
    <add key="ErrorTemplate" value="ErrorTemplate.xhtml" />
    <add key="RestNet.SkipRequestLoggingOn" value="Mocker"/>

    <add key="RestNet.Mocker.Representations.programXmlCompact" value="application/vnd.ics.program.compact+xml"/>
    <add key="RestNet.Mocker.Representations.programXml" value="application/vnd.ics.program+xml"/>
    <add key="RestNet.Mocker.Representations.noticeXMLFullRepresentation" value=""/>
  </appSettings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <customErrors mode="Off" />

    <httpHandlers>
      <add verb="*" path="default.rnx" type="RestNetMocker.HttpHandler,RestNetMocker" />
    </httpHandlers>

    <httpModules>
      <add name="HttpModule" type="RestNet.HttpModule,RestNet Core" />
    </httpModules>

    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
    </roleManager>

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="RestNet" />
      <add name="RESTNET application" path="*.rnx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
    </handlers>
  </system.webServer>

  <log4net/>

</configuration>
